$bodyFontType: "";
$headingFontType: "";

$textFontSize: "";
$h1FontSize: "";
$h2FontSize: "";
$h3FontSize: "";
$h4FontSize: "";
$h5FontSize: "";
$h6FontSize: "";

$textColorMain: "";
$textColorAlt: "";
$headingColorMain: "";
$headingColorAlt: "";

$themeColor_1: "";
$themeColor_2: "";
$themeColor_3: "";
$themeColor_4: "";